body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  max-height: 100vh;
  color: #333;
}
::-webkit-scrollbar {
  width: 8px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(215, 215, 215);
}
button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}
button {
  cursor: pointer;
}
#container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

#container > header {
  border-top: 3px solid gray;
  padding: 10px 50px; /* fixed padding values */
  width: 100%; /* fixed width value */
  
}
header h1 a:hover {
  color: gray;
}
header {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #eee;
  margin-bottom: -75px;
  justify-content: center;
}

#menu-button {
  font-size: 20px;
  top: 0;
  right: 0;
  position: fixed;
  height: 74px;
  width: 160px;
}

button:hover,
.button:hover {
  background-color: gray;
  color: white;
}

#app-moto {
  color: black;
  position: absolute;
  top: 0;
  margin-top: 38px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#BlankCard-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: grey;
}

.WriteNew{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formdiv{
  justify-content: center;
  align-items: center;
}

.nameboxdiv{
  padding-bottom: 25px;
  border-radius: 50%;
}

.imgselectdiv{
  padding-bottom: 25px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.imgselect{
  font-size: large;
}

.namebox{
  border: 2px solid lightgray;
  font-size: 15px;
  width: 600px;
  height: 50px;
}

.deathselect{
  padding-bottom: 25px;
}

.writeobituarybutton{
  background-color: #00cc99;
  width: 608px;
  height: 60px;
  border-radius: 5px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.writeobituarybutton:hover{
  background-color: #2a2c2e;
}

.WriteNewobituarytext{
  padding-bottom: 60px;
}


